
# Ignore everything
*
!add num using function.py
!area and circumference of circle.py
!calculator in python.py
!numpy module.py
!conditional statements.py
!pandas_module.py
!List.py
!Loops.py
!Tuple.py
!ExceptionHandling.py
!string_operation.py
!dictionary_and_set.py
!OOP.py
!.gitignore
__pycache__/
